.FormContact {
  background-color: white;
  width: 100%;
  max-width: 700px;
  margin: auto;
  padding: 15px;
  display: flex;
  flex-direction: column;
  font-family: Nunito, sans-serif;
}

.FormContact span {
  color: var(--rojo-claro);
  font-size: 14px;
}

.FormContact input,
textarea,
button {
  border: none;
  border-bottom: 1px solid var(--gris-oscuro);
  padding: 13px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.FormContact input:focus,
textarea:focus {
  outline: 0px;
  border-bottom: 2px solid var(--verde-claro);
}

.FormContact input:focus::placeholder,
textarea:focus::placeholder {
  transform: scale(0.7);
  transform-origin: top left;
  opacity: 0.5;
}

.FormContact .Colx2,
.Colx1 {
  display: flex;
  margin: 10px 0px;
}

.FormContact .Colx1 {
  flex-direction: column;
}

.FormContact .Colx1 textarea {
  width: 100%;
}

.FormContact .Colx2 .Col-1,
.Col-2 {
  width: 100%;
  margin: 5px 0px;
}

.FormContact .Colx2 input {
  width: 98%;
}

.FormContact .Colx1 .Button {
  width: 100%;
  color: white;
  font-size: 15px;
  margin-top: 8px;
}


@media screen and (max-width: 777px) {
  .FormContact .Colx2, .Colx1{
    flex-direction: column;
    margin: 0px;
  }
}
