.Header {
  background-color: var(--color-primario);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.Header .Logo {
  padding: 3px;
}

.Header .Logo img {
  width: 100%;
  max-width: 200px;
  height: 100%;
  max-height: 70px;
}

.Header .Logo img:hover {
  transform: scale(1.1);
  transition: 0.5s ease-in-out;
}

.Header .Links {
  display: flex;
}

@media screen and (max-width: 730px) {
  .Header .Links {
    display: none;
  }

  .Header .Logo {
    width: 130px;
  }
}
