.Header {
  background-color: var(--color-primario);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.Header .Logo {
  width: 100%;
  max-width: 200px;
}

.Header .Logo img {
  width: 100%;
}

.Header .Links {
  display: flex;
}
