.Header {
  background-color: var(--color-primario);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.Header .Logo {
  width: 100%;
  max-width: 200px;
  min-width: 100px;
  height: 100%;
  max-height: 70px;
  min-height: 50px;
}

.Header .Logo img {
  width: 100%;
}

.Header .Links {
  display: flex;
}

@media screen and (max-width: 730px) {
  .Header .Links {
    display: none;
  }

  .Header .Logo {
    width: 130px;
  }
}
