.MenuHamburguer{
  display: none;
}
.hamburguer {
  z-index: 100;
  width: 40px;
}

.hamburguer .line {
  display: flex;
  flex-direction: column;
  width: 95%;
  height: 5px;
  background-color: white;
  border-radius: 5px;
  margin: 7px 0px;
}

.MenuHamburguer .box-menu {
  position: absolute;
  z-index: 99;
  right: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primario);
}

.MenuHamburguer .box-menu .Logo {
  display: flex;
  width: 350px;
  justify-content: center;
}

.MenuHamburguer .box-menu .Logo img {
  max-width: 350px;
  max-height: 200px;
}

.MenuHamburguer .box-menu nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.MenuHamburguer .box-menu nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.MenuHamburguer .box-menu nav ul li {
  margin: 13px 0px;
}

.MenuHamburguer .box-menu nav ul li a{
    margin: 0px;
}

.MenuHamburguer .MenuHamburguer {
  display: none;
}


@media screen and (max-width: 730px) {
  .MenuHamburguer {
    display: flex;
  }
}
