.Preguntas {
  width: 100%;
  max-width: 900px;
  margin: 30px 0px;
}
.Preguntas h2 {
  color: white;
  margin: 20px auto;
  max-width: 700px;
}

.Preguntas .Pregunta h3 {
  color: var(--color-primario);
  text-align: left;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.815);
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-transform: none;
  font-size: 16px;
}

.Preguntas .Pregunta h3 .icon {
  margin-right: 10px;
  color: var(--azul-claro);
  font-size: 19px;
}

.Preguntas .Pregunta h3:hover {
  background-color: var(--gris-oscuro);
  transform: scale(1.05);
  transition: 1s;
}

.Preguntas .Pregunta .Respuesta > div p {
  color: white;
  text-align: left;
  max-width: 100%;
}
