.Preguntas {
  width: 100%;
  max-width: 900px;
  margin: 30px 0px;
}

.Preguntas h2 {
  color: white;
  margin: 30px auto;
  max-width: 700px;
}

.Preguntas .Pregunta {
  border-bottom: 1.5px solid var(--gris-claro);
  padding: 10px 3px;
}

.Preguntas .Pregunta h3 {
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-transform: none;
  flex-direction: row-reverse;
  justify-content: space-between;
  font-size: 16px;
}

.Preguntas .Pregunta h3.Active {
  color: var(--amarillo-oscuro);
}

.Preguntas .Pregunta h3 .icon {
  margin-right: 10px;
  color: white;
  font-size: 19px;
}

.Preguntas .Pregunta h3 .icon:hover {
  color: var(--amarillo-oscuro);
}

.Preguntas .Pregunta h3:hover {
  color: var(--amarillo-oscuro);
  transition: 0.5s;
}

.Preguntas .Pregunta .Respuesta > div p {
  color: white;
  text-align: left;
  max-width: 100%;
}
