/* Loading.css */
.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-primario);
  border-radius: 3px;
  padding: 25px;
  box-shadow: 0px 0px 7px var(--gris-oscuro);
  margin: auto;
  animation: fadeInOut 2s linear infinite;
}

.loading-text {
  margin-top: 8px;
  color: white;
  font-family: Rubik, sans-serif;
  font-weight: bold;
}

.loading-dot {
  animation: loading 3s linear infinite;
}

.loading-text {
  margin-top: 8px;
}

.loading-dot {
  animation: loading 1.5s linear infinite;
}

.loading-dot:nth-child(1) {
  animation-delay: -0.5s;
}

.loading-dot:nth-child(2) {
  animation-delay: -0.25s;
}

@keyframes fadeInOut {
  0% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.7;
  }
}

@keyframes loading {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
