.Preguntas {
  width: 100%;
  max-width: 700px;
  margin: 30px 0px;
}

.Preguntas h2 {
  color: var(--azul-claro);
  margin: 20px 0px;
}

.Preguntas .Pregunta h4 {
  color: var(--color-primario);
  text-align: left;
  padding: 13px;
  background-color: var(--gris-claro);
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.Preguntas .Pregunta h4 .icon {
  margin-right: 10px;
  color: var(--azul-claro);
  font-size: 19px;
}

.Preguntas .Pregunta h4:hover {
  color: white;
  transition: 0.3s;
  background-color: var(--color-primario);
}

.Preguntas .Pregunta .Respuesta > div p {
  color: var(--color-primario);
}
