.About {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.About .Box-Perfil {
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 25px;
}

.About .Box-Perfil .Perfil {
  width: 100%;
  max-width: 1400px;
  display: flex;
  align-items: center;
  margin-top: 100px;
}

.About .Box-Perfil .Perfil .Descripcion {
  width: 60%;
  padding: 0px 25px;
}

.About .Box-Perfil .Perfil .Descripcion .GitHub {
  margin-top: 50px;
}

.About .Box-Perfil .Perfil .Descripcion .GitHub p {
  font-size: 14px;
  color: var(--azul-claro);
  font-weight: bold;
  margin-bottom: 20px;
}

.About .Box-Perfil .Perfil .Descripcion h1 {
  text-align: left;
  color: var(--azul-claro);
  margin-bottom: 30px;
}

.About .Box-Perfil .Perfil .Imagen {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.About .Box-Perfil .Perfil .Imagen img {
  width: 100%;
  height: 100%;
  max-width: 450px;
  max-height: 450px;
  border-radius: 50%;
}
.About .Box-Perfil .Perfil .Imagen p {
  color: var(--color-primario);
  font-weight: bold;
  font-size: 14px;
}

.About .Box-Perfil .Perfil .Imagen > div {
  margin: 10px 0px;
}

.About .Box-Perfil .Perfil .Imagen a.Whatsapp {
  color: #25d366;
}

.About .Box-Perfil .Perfil .Imagen a.Email {
  color: #fc940be5;
}

.About .Box-Perfil .Perfil .Imagen a.Linkedin {
  color: #0077b5;
}

.About .Box-Perfil .Perfil .Imagen .Icon {
  text-align: center;
  font-size: 30px;
  margin: 0px 5px;
  width: 25px;
  height: 25px;
}

.About .Box-Perfil .Perfil .Imagen .Icon:hover {
  transform: scale(1.5);
  transition: 0.4s;
}

.About .Habilidades {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1100px;
  padding: 25px;
  margin: 100px 0px;
}

.About .Habilidades .Texto {
  width: 50%;
}

.About .Habilidades .Texto h2 {
  text-align: left;
  color: var(--azul-claro);
  margin-bottom: 20px;
}

.About .Habilidades .Texto p {
  color: white;
  margin: 5px 0px;
}
.About .Habilidades .Texto ul .Icon {
  color: var(--verde-claro);
  margin-right: 10px;
}

.About .Habilidades .Texto ul li {
  display: flex;
  align-items: center;
}

.About .Habilidades .Imagen {
  width: 100%;
  max-width: 450px;
  height: 100%;
  max-height: 450px;
}

.About .Conocimientos {
  width: 100%;
  padding: 5px;
}

.About .Conocimientos h3 {
  color: white;
}

.About .Conocimientos ul {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}

.About .Conocimientos li {
  display: flex;
  align-items: center;
  border-radius: 4px;
  margin: auto 5px;
}

.About .Conocimientos li .Icon {
  color: var(--verde-claro);
}

.About .Conocimientos li p {
  color: white;
  margin-left: 3px;
  font-size: 14px;
}

.About .Metodologia {
  width: 100%;
  background-color: white;
  padding: 25px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.About .Metodologia h2 {
  color: var(--azul-claro);
  margin: 50px 0px;
}

.About .Metodologia .Cards {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.About .Metodologia .Cards .Card {
  position: relative;
  width: 100%;
  max-width: 320px;
  border: 1px solid var(--gris-claro);
  border-radius: 3px;
  box-shadow: 0px 0px 5px var(--gris-oscuro);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  margin: 0px 10px;
  border-bottom: 10px solid transparent;
  transition: all 0.5s;
  background-color: white;
}

.About .Metodologia .Cards .Card::after {
  content: attr(data-content);
  position: absolute;
  width: 45px;
  height: 45px;
  left: -15px;
  top: -15px;
  border-radius: 50%;
  background-color: var(--rojo-claro);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
  font-family: Rubik, sans-serif;
}

.About .Metodologia .Cards .Card:hover {
  border-bottom: 10px solid var(--azul-claro);
  transform: scale(1.3);
  z-index: 99;
}

.About .Metodologia .Cards .Card h4 {
  color: var(--azul-claro);
}

.About .Metodologia .Cards .Card img {
  width: 100%;
  height: 100%;
  max-width: 70px;
  max-height: 70px;
  margin: 10px 0px;
}
.About .Metodologia .Cards .Card p {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}

/* espacio para ajuste de cambio de tamaño de pantalla */
@media screen and (max-width: 777px) {
  .About .Box-Perfil {
    padding: 10px;
  }

  .About .Box-Perfil .Perfil {
    flex-direction: column-reverse;
    border: 1px solid var(--gris-claro);
    border-radius: 3px;
    margin: 0px;
    padding: 15px;
    box-shadow: 0px 0px 10px var(--gris-claro);
  }

  .About .Box-Perfil .Perfil .Descripcion {
    width: 100%;
    text-align: center;
    padding: 10px;
  }

  .About .Box-Perfil .Perfil .Descripcion h1 {
    text-align: center;
  }

  .About .Box-Perfil .Perfil .Imagen {
    width: 100%;
    max-width: 300px;
  }

  .About .Habilidades {
    flex-direction: column-reverse;
    margin: 0px;
    padding: 30px 10px;
  }

  .About .Habilidades .Texto {
    width: 90%;
  }

  .About .Habilidades .Texto p {
    display: flex;
  }

  .About .Habilidades .Imagen {
    display: none;
  }

  .About .Conocimientos {
    display: none;
  }

  .About .Metodologia h2 {
    margin: 30px 0px;
  }

  .About .Metodologia .Cards {
    flex-direction: column;
    align-items: center;
  }

  .About .Metodologia .Cards .Card {
    margin-bottom: 20px;
    max-width: 350px;
  }

  .About .Metodologia .Cards .Card:hover {
    transform: scale(1);
  }
}
