main.BoxBlog {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

main .Banner img {
  width: 100%;
  box-shadow: 0px 5px 10px #0707079d;
}

main .Banner .Text {
  background-color: white;
  border-radius: 0px 0px 3px 3px;
  padding: 10px;
  margin-top: -5px;
  z-index: 2;
  position: relative;
}

main .Banner .Text h1 {
  transform: scale(1.3);
  color: var(--color-primario);
  text-shadow: -1px -1px 2px var(--color-primario);
}

main .Articles {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  padding: 50px 10px;
}

main .Articles .Article {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 0px 4px #eee;
  width: 100%;
  height: 100%;
  max-width: 350px;
  margin: 10px;
  transition: 0.5s;
  overflow: hidden;
}

main .Articles .Article:hover {
  transform: scale(1.05);
}

main .Articles .Article img {
  width: 100%;
  max-width: 350px;
  height: 100%;
  max-height: 250px;
}

main .Articles .Article .BodyCard {
  padding: 15px;
}

main .Articles .Article .BodyCard h3 {
  text-align: left;
  color: var(--color-primario);
}
