main.BoxBlog {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

main .Banner {
  width: 100%;
  max-width: 1200px;
}

main .Banner img {
  width: 100%;
  box-shadow: 0px 5px 10px #0707079d;
  border-radius: 4px 4px 0px 0px;
}

main .Banner .Title {
  background-color: white;
  padding: 10px 30px;
  margin-top: -5px;
  z-index: 2;
  position: relative;
}

main .Banner .Title h1 {
  color: var(--color-primario);
  text-shadow: -1px -1px 2px var(--color-primario);
  margin-top: 30px;
}

main .Banner .Title h2 {
  font-size: 20px;
}

main .Articles {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  padding: 50px 10px;
  background-color: white;
}

main .Articles .Article {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 1px 10px var(--gris-oscuro);
  height: 100%;
  margin: 10px;
  max-width: 350px;
  overflow: hidden;
  transition: 0.5s;
  width: 100%;
  border: 1px solid var(--gris-claro);
}

main .Articles .Article:hover {
  transform: scale(1.05);
}

main .Articles .Article img {
  width: 100%;
  max-width: 350px;
  height: 100%;
  max-height: 311px;
}

main .Articles .Article .BodyCard {
  padding: 15px;
}

main .Articles .Article .BodyCard h3 {
  text-align: left;
  color: var(--azul-primario);
  
}

main .BodyArticle {
  background-color: white;
  width: 100%;
  max-width: 1200px;
  padding: 25px;
  overflow: hidden;
}

main .BodyArticle h3,
main .BodyArticle h4 {
  text-align: left;
  margin: 15px 0px;
  color: var(--verde-claro);
}

main .BodyArticle hr {
  margin: 20px 0px;
}

main .BodyArticle ul {
  padding-left: 15px;
}

main .BodyArticle ul li {
  list-style: disc;
  font-family: Nunito, sans-serif;
  padding: 5px 0px;
}

main .BodyArticle ul li b{
  color: var(--azul-claro);
}

main .BodyArticle img {
  margin: 20px auto;
  display: block;
  border-radius: 3px;
  width: 100%;
  max-width: 1150px;
  height: 100%;
  max-height: 600px;
  transition: 0.5s;
}

main .BodyArticle img:hover {
  transform: scale(1.02);
}

main .BodyArticle .Images {
  display: flex;
  flex-wrap: wrap;
}

main .BodyArticle .Images img {
  width: 100%;
  max-width: 370px;
}

main .BodyArticle .Sectionx2{
  display: flex;
  align-items: center;
  justify-content: center;
}

main .BodyArticle .Sectionx2 .Section-1{
  width: 60%;
  padding: 15px;
}

main .BodyArticle .Sectionx2 .Section-2{
width: 40%;
}

main .BodyArticle .Code{
  background-color: var(--color-primario);
  border-radius: 3px;
  padding: 15px;
  color: white;
}


@media (max-width: 777px) {
  main .Banner .Title {
    padding: 10px;
  }

  main .Banner .Title h2 {
    font-size: 16px;
  }

  main .BodyArticle .Sectionx2{
    flex-direction: column-reverse;
  }

  main .BodyArticle .Sectionx2 .Section-1,
    main .BodyArticle .Sectionx2 .Section-2{
      width: 100%;
    }
}
