.Contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.Contacto h1 {
  color: white;
  margin-bottom: 100px;
}

.Contacto .Datos-Form {
  border-radius: 3px;
  background-color: white;
  margin: auto;
  margin: 30px auto;
  width: 100%;
  max-width: 1200px;
  box-shadow: 0px 0px 7px var(--gris-claro);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
  position: relative;
}

.Contacto .Datos-Form::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  width: 120%;
  height: 120%;
  border-radius: 50%;
  background-color: var(--azul-claro);
  transform: translate(-50%, -50%);
  opacity: 0.2;
}

.Contacto .Datos-Form .Formulario {
  width: 60%;
}

.Contacto .Datos-Form .Imagen {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Contacto .Datos-Form .Imagen img {
  width: 100%;
}

.Contacto .Datos-Form .Imagen a.Whatsapp {
  color: #25d366;
}

.Contacto .Datos-Form .Imagen a.Email {
  color: #fc940be5;
}

.Contacto .Datos-Form .Imagen a.Linkedin {
  color: #0077b5;
}

.Contacto .Datos-Form .Imagen .Icon {
  text-align: center;
  font-size: 30px;
  margin: 0px 5px;
}

.Contacto .Datos-Form .Imagen .Icon:hover {
  transform: scale(1.2);
  transition: 0.4s;
}
