main .Encabezado {
  background-image: linear-gradient(rgba(0, 0, 0, 0.76), #09223980),
    url("/public/images/backgroud-encabezado.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 25px;
  position: relative;
  height: 85vh;
  clip-path: ellipse(100% 141% at 50% -45%);
}

main .Encabezado h1{
  color: white;
}

main .Encabezado p {
  text-align: center;
  font-size: 19px;
  font-weight: bold;
  width: 100%;
  max-width: 800px;
  margin: 30px 0px;
  color: white;
}

main .Encabezado a {
  background-color: var(--rojo-claro);
  padding: 15px 20px;
  border-radius: 3px;
  transition: 0.5s;
  animation-name: pulse;
  animation-duration: 1.5s;
  animation-iteration-count: 3;
}

main .Encabezado a:hover {
  background-color: var(--rojo-oscuro);
  transform: scale(1.1);
}

main .Beneficios {
  padding:25px;
  margin-bottom: 50px;
}

main .Beneficios h2 {
  color: white;
  margin-top: 70px;
}

main .Beneficios .Cards {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

main .Beneficios .Cards .Card {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 3px;
  width: 100%;
  max-width: 400px;
  min-height: 300px;
  margin: 0px 10px;
  padding: 20px;
  border-bottom: 10px solid transparent
}

main .Beneficios .Cards .Card:hover {
  transform: scale(1.15);
  transition: 1s;
  border: 1px solid var(--gris-oscuro);
  border-bottom: 10px solid var(--azul-claro);
  user-select: none;
}

main .Beneficios .Cards .Card h3 {
  color: var(--azul-claro);
}

main .Beneficios .Cards .Card img {
  width: 100%;
  max-width: 90px;
  min-width: 50px;
  margin: 15px 0px;
}

main .Beneficios .Cards .Card p {
  color: var(--color-primario);
  text-align: center;
  font-weight: bold;
  font-size: 15px;
}

.Preguntas-Frecuentes {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 25px;
  overflow: hidden;
}

main .Contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  padding: 25px;
}

main .Contacto h2 {
  color: white;
}

main .Contacto .Datos-Form {
  border-radius: 3px;
  background-color: white;
  margin: auto;
  margin: 30px auto;
  width: 100%;
  max-width: 1200px;
  box-shadow: 0px 0px 7px var(--gris-claro);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

main .Contacto .Datos-Form .Formulario {
  width: 100%;
  max-width: 500px;
  min-width: 300px;
}

main .Contacto .Datos-Form img {
  width: 100%;
  max-width: 500px;
  min-width: 300px;  
}

/* espacio para animaciones */
@keyframes pulse {
  0% {
    transform: scale(1);
    background-color: var(--rojo-claro);
  }
  50% {
    transform: scale(1.05);
    background-color: var(--rojo-oscuro);
  }
  100% {
    transform: scale(1);
    background-color: var(--rojo-claro);
  }
}

/* espacio para ajuste de cambio de tamaño de pantalla */
@media screen and (max-width: 777px){

  main .Encabezado{
    clip-path: ellipse(137% 130% at 50% -50%);
  }

  main .Encabezado p{
    font-size: 15px;
    font-weight: normal;
  }

  main .Encabezado a{
    font-size: 12px;
  }

  main .Cards {
    flex-direction: column;
  }

  main .Beneficios .Cards .Card{
    margin-bottom: 20px; 
  }

  main .Contacto .Datos-Form {
    flex-direction: column;
  }

  main .Contacto .Datos-Form img{
    display: none;
  }
  
}