main .Encabezado {
  background-image: linear-gradient(rgba(0, 0, 0, 0.856), #081827c4),
    url("/public/images/Home/desarrollo_web.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 15px;
  position: relative;
  height: 100vh;
  clip-path: ellipse(100% 141% at 50% -45%);
}

main .Encabezado h1 {
  color: white;
  width: 100%;
  max-width: 900px;
}

main .Encabezado p {
  text-align: center;
  font-size: 19px;
  width: 100%;
  max-width: 750px;
  margin: 30px 0px;
  color: white;
}

main .Encabezado p .creador {
  background-color: transparent;
  padding: 2px;
  text-transform: none;
  font-weight: 600;
  font-family: Nunito, sans-serif;
}

main .Encabezado a {
  padding: 14px 17px;
  animation-name: pulse;
  animation-duration: 1.5s;
  animation-iteration-count: 3;
}

main .Beneficios {
  padding: 25px;
  margin-top: 30px;
}

main .Beneficios h2 {
  color: white;
  width: 100%;
  max-width: 700px;
  margin: 30px auto;
}

main .Beneficios .Cards {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

main .Beneficios .Cards .Card {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 3px;
  width: 100%;
  max-width: 350px;
  margin: 0px 10px;
  padding: 20px;
  border-bottom: 10px solid transparent;
}

main .Beneficios .Cards .Card:hover {
  transform: scale(1.15);
  transition: 1s;
  border: 1px solid var(--gris-oscuro);
  border-bottom: 10px solid var(--azul-claro);
  user-select: none;
}

main .Beneficios .Cards .Card h3 {
  color: var(--azul-claro);
}

main .Beneficios .Cards .Card img {
  width: 100%;
  max-width: 90px;
  height: 100%;
  max-height: 90px;
  margin: 15px 0px;
}

main .Beneficios .Cards .Card p {
  color: var(--color-primario);
  text-align: center;
  font-weight: bold;
  font-size: 15px;
}

main .Cotizacion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0px;
  padding: 25px;
}

main .Cotizacion h2 {
  color: white;
  width: 100%;
  max-width: 700px;
}

main .Cotizacion img {
  width: 100%;
  max-width: 600px;
  height: 100%;
  max-height: 600px;
  transition: 1s;
}

main .Cotizacion img:hover {
  transform: scale(1.1);
}

main .Cotizacion p {
  color: white;
  width: 100%;
  max-width: 700px;
  text-align: center;
  margin: 20px 0px;
}

.Preguntas-Frecuentes {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 25px;
  overflow: hidden;
}

main .Contacto h2 {
  color: white;
  width: 100%;
  max-width: 500px;
}

main .Contacto .Datos-Form {
  border-radius: 3px;
  background-color: white;
  margin: auto;
  margin: 30px auto;
  width: 100%;
  max-width: 1100px;
  box-shadow: 0px 0px 7px var(--gris-claro);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}

main .Contacto .Datos-Form > div {
  width: 100%;
  max-width: 450px;
}

main .Contacto .Datos-Form > div h2 {
  color: var(--azul-claro);
  text-align: left;
}

main .Contacto .Datos-Form > div p {
  color: var(--color-primario);
  text-align: justify;
  margin: 20px 0px;
}

main .Contacto .Datos-Form img {
  width: 100%;
  max-width: 500px;
  height: 100%;
  max-height: 500px;
}

/* espacio para animaciones */
@keyframes pulse {
  0% {
    transform: scale(1);
    background-color: var(--rojo-claro);
  }
  50% {
    transform: scale(1.05);
    background-color: var(--rojo-oscuro);
  }
  100% {
    transform: scale(1);
    background-color: var(--rojo-claro);
  }
}

/* espacio para ajuste de cambio de tamaño de pantalla */
@media screen and (max-width: 777px) {
  main .Encabezado {
    justify-content: flex-start;
    padding-top: 40px;
    height: 60vh;
    clip-path: ellipse(140% 141% at 50% -41%);
  }

  main .Encabezado p {
    font-size: 15px;
    font-weight: normal;
  }

  main .Encabezado a {
    font-size: 12px;
  }

  main .Beneficios {
    padding: 0px 25px;
  }

  main .Cards {
    flex-direction: column;
  }

  main .Beneficios .Cards .Card {
    margin-bottom: 20px;
  }

  main .Preguntas-Frecuentes {
    padding: 0px 15px;
  }

  main .Contacto .Datos-Form {
    flex-direction: column;
  }

  main .Contacto .Datos-Form > div > h2,
  main .Contacto .Datos-Form > div > p {
    text-align: center;
  }

  main .Contacto .Datos-Form img {
    display: none;
  }
}
