main .Encabezado {
  background-image: linear-gradient(rgba(1, 15, 27, 0.712), hsl(0, 0%, 0%)),
    url("/public/images/Home/daniletto-desarrollador-web.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  clip-path: ellipse(100% 141% at 50% -45%);
  height: 100vh;
}

main .Encabezado h1 {
  color: white;
  width: 100%;
  max-width: 1200px;
}

main .Encabezado p {
  text-align: center;
  width: 100%;
  max-width: 850px;
  margin: 20px 0px;
  color: white;
}

main .Encabezado p .creador {
  padding: 2px;
  text-transform: none;
  font-weight: 600;
  font-family: Nunito, sans-serif;
  color: var(--amarillo-oscuro);
}

main .Encabezado .BtnOpciones {
  display: flex;
}

main .Encabezado .BtnOpciones a {
  padding: 17px 20px !important;
  margin: 10px;
}

main .Cotizacion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 25px;
  background-color: white;
}

main .Cotizacion h2 {
  color: var(--azul-claro);
  max-width: 700px;
  width: 100%;
}

main .Cotizacion h3 {
  color: var(--color-primario);
}

main .Cotizacion img {
  width: 100%;
  max-width: 600px;
  height: 100%;
  max-height: 600px;
  transition: 1s;
}

main .Cotizacion img:hover {
  transform: scale(1.03);
}

main .Cotizacion p {
  color: var(--color-primario);
  width: 100%;
  max-width: 700px;
  text-align: center;
  margin: 20px 0px;
}

main .Cotizacion a {
  animation: pulse 1.5s infinite;
  font-size: 14px;
}

.Preguntas-Frecuentes {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  overflow: hidden;
}

main .Contacto {
  padding: 25px;
}

main .Contacto h2 {
  color: white;
  width: 100%;
  max-width: 500px;
}

main .Contacto .Datos-Form {
  border-radius: 3px;
  background-color: white;
  margin: auto;
  margin: 30px auto;
  width: 100%;
  max-width: 1100px;
  box-shadow: 0px 0px 7px var(--gris-claro);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

main .Contacto .Datos-Form > div {
  width: 100%;
}

main .Contacto p {
  color: white;
  text-align: center;
  font-size: 17px;
}

main .Contacto .Datos-Form img {
  width: 100%;
  max-width: 500px;
  height: 100%;
  max-height: 500px;
}

/* espacio para ajuste de cambio de tamaño de pantalla */
@media screen and (max-width: 777px) {
  main .Encabezado {
    padding: 100px 20px;
    clip-path: ellipse(100% 55% at 50% 45%);
    height: auto;
  }

  main .Encabezado p {
    font-size: 15px;
    font-weight: normal;
  }

  main .Encabezado a {
    font-size: 12px;
  }

  main .Encabezado .BtnOpciones {
    flex-direction:column;
    align-items:center;
  }

  main .Cards {
    flex-direction: column;
  }

  main .Preguntas-Frecuentes {
    padding: 0px 15px;
  }

  main .Contacto .Datos-Form {
    flex-direction: column-reverse;
  }
}
