.Portafolio .Encabezado {
  width: 100%;
  background-color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Portafolio .Encabezado .Texto {
  width: 50%;
  padding: 25px;
}
.Portafolio .Encabezado .Texto h1 {
  text-align: left;
  color: var(--azul-claro);
}
.Portafolio .Encabezado .Texto p {
  color: gray;
  margin-top: 30px;
}
.Portafolio .Encabezado img {
  width: 50%;
  max-width: 800px;
  height: 100%;
  max-height: 800px;
  animation: pulse 1.5s linear infinite;
  background-color: transparent !important;
}

.Portafolio .Proyectos {
  padding: 25px 25px 5px 25px;
}

.Portafolio .Proyectos .VerMas {
  color: white;
  cursor: pointer;
  width: 200px;
  font-weight: bold;
  margin: auto;
  text-decoration: underline;
  animation: pulse 1.5s linear infinite;
  text-align: center;
  background-color: transparent !important;
}

.Portafolio .Proyectos .VerMas:hover {
  color: var(--azul-claro);
}

.Portafolio .Proyectos h2 {
  color: white;
  width: 100%;
  max-width: 600px;
  margin: auto;
}
.Portafolio .Proyectos .Box-Proyectos {
  display: flex;
  justify-content: center;
}
.Portafolio .Proyectos .Box-Proyectos .Proyecto {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 20px;
}
.Portafolio .Proyectos .Box-Proyectos .Proyecto img {
  width: 100%;
  max-width: 400px;
  height: 100%;
  border-radius: 3px;
}

.Portafolio .Proyectos .Box-Proyectos .Proyecto h4 {
  margin: 15px 0px;
  color: white;
}

.Portafolio .Proyectos .ProyectosIniciales {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.Portafolio .Proyectos .ProyectosIniciales .Box-Proyectos {
  width: 100%;
  display: flex;
  justify-content: center;
}

.Portafolio .Proyectos .ProyectosIniciales .Box-Proyectos .Proyecto {
  background-color: white;
  border-radius: 3px;
  box-shadow: 1px 1px 5px var(--gris-claro);
  padding: 15px;
  width: 100%;
  max-width: 400px;
  border-bottom: 10px solid transparent;
}

.Portafolio .Proyectos .ProyectosIniciales .Box-Proyectos .Proyecto:hover {
  transform: scale(1.1);
  transition: 1s;
  border-bottom: 10px solid var(--azul-claro);
}

.Portafolio .Proyectos .ProyectosIniciales .Box-Proyectos .Proyecto h4 {
  color: var(--azul-claro);
}

.Portafolio .Proyectos .ProyectosIniciales .Box-Proyectos .Proyecto img {
  width: 100%;
  max-width: 100px;
  height: 100%;
  max-height: 100px;
}

.Portafolio .Proyectos .ProyectosIniciales .Box-Proyectos .Proyecto p {
  color: gray;
  text-decoration: none;
  text-align: center;
  margin: 20px 0px;
}

.Portafolio .Proyectos .ProyectosIniciales p {
  color: white;
  font-size: 15px;
  cursor: pointer;
}

.Portafolio .OtrosProyectos {
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: center;
}

.Portafolio .OtrosProyectos > div {
  width: 100%;
  display: flex;
  align-items: center;
  max-width: 900px;
  padding: 25px;
  margin: 50px 0px;
}

.Portafolio .OtrosProyectos img {
  width: 100%;
  max-width: 400px;
  height: 100%;
  max-height: 400px;
}

.Portafolio .OtrosProyectos p {
  color: gray;
}

.Portafolio .OtrosProyectos p a{
  margin-top: 20px;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}

/* espacio para ajuste de cambio de tamaño de pantalla */
@media screen and (max-width: 777px) {
  .Portafolio .Encabezado {
    flex-direction: column;
  }

  .Portafolio .Encabezado .Texto {
    width: 100%;
  }

  .Portafolio .Encabezado img {
    width: 100%;
  }

  .Portafolio .Proyectos .ProyectosIniciales .Box-Proyectos {
    flex-direction: column;
    align-items: center;
  }

  .Portafolio .Proyectos .Box-Proyectos {
    flex-direction: column;
    align-items: center;
  }

  .Portafolio .OtrosProyectos > div {
    flex-direction: column-reverse;
    text-align: center;
  }
}
