.Tecnologias {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.Tecnologias a {
  padding: 10px 15px !important;
  border-radius: 3px;
  font-weight: bold;
  display: block;
  text-align: center;
  transition: 0.5s;
  border: none !important;
  cursor: pointer;
  width: 200px;
  margin: auto;
}

.Tecnologias img {
  max-width: 500px;
  display: block;
}