.About {
  padding: 25px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.About .Perfil {
  width: 100%;
  max-width: 1100px;
  background-color: white;
  display: flex;
  border-radius: 3px;
  box-shadow: 0px 0px 7px var(--gris-claro);
  padding: 25px;
  display: flex;
  align-items: center;
  margin-top: 100px;
}

.About .Perfil .Descripcion {
  width: 60%;
}

.About .Perfil .Descripcion h1 {
  text-align: left;
  color: var(--azul-claro);
}

.About .Perfil .Descripcion p {
  color: var(--color-primario);
}

.About .Perfil .Imagen {
  width: 40%;
  margin-top: -100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.About .Perfil .Imagen img {
  width: 100%;
  border-radius: 50%;
}
.About .Perfil .Imagen p {
  color: var(--color-primario);
  font-weight: bold;
  font-size: 14px;
}

.About .Perfil .Imagen > div {
  margin: 10px 0px;
}

.About .Perfil .Imagen a.Whatsapp {
  color: #25d366;
}

.About .Perfil .Imagen a.Email {
  color: #fc940be5;
}

.About .Perfil .Imagen a.Linkedin {
  color: #0077b5;
}

.About .Perfil .Imagen .Icon {
  text-align: center;
  font-size: 30px;
  margin: 0px 5px;
}

.About .Perfil .Imagen .Icon:hover {
  transform: scale(1.2);
  transition: 0.4s;
}

.About .Habilidades {
  margin-top: 100px;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1100px;
}

.About .Habilidades .Texto {
  width: 50%;
}

.About .Habilidades .Texto h2 {
  text-align: left;
  color: var(--azul-claro);
  margin-bottom: 20px;
}

.About .Habilidades .Texto p {
  color: white;
}
.About .Habilidades .Texto ul .Icon {
  color: rgb(12, 199, 183);
  margin-right: 10px;
}

.About .Habilidades .Texto ul li {
  display: flex;
  align-items: center;
}

.About .Habilidades .Imagen {
  width: 50%;
}

.About .Contacto {
  width: 100%;
  max-width: 1100px;
  background-color: white;
  padding: 25px;
  border-radius: 3px;
  margin-top: 100px;
  box-shadow: 0px 0px 7px var(--gris-claro);
}

.About .Contacto p {
  margin-bottom: 50px;
  color: var(--color-primario);
  text-align: center;
}
