:root {
  --color-primario: #092239;
  --rojo-claro: #fd5b5b;
  --rojo-oscuro: #f35b5b;
  --azul-claro: #009FD4;
  --gris-claro: #f3f3f3;
  --gris-oscuro: #c7c7c7;
  --verde-claro: rgb(18, 197, 182);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

  /* border: 1px solid red; */
}

body {
  background-color: var(--color-primario);
}

li {
  list-style: none;
}

a {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  font-family: Rubik, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Rubik, sans-serif;
  font-weight: 700;
  text-align: center;
  margin: 10px 0px;
  text-transform: uppercase;
}

p {
  font-family: Nunito, sans-serif;
  font-weight: 400;
  font-size: 17px;
  margin: 10px 0px;
  color: var(--color-primario);
}

.EfectBorderRoundBlue,
.EfectBorderRoundWhite {
  height: 150px;
  overflow: hidden;
  width: 100%;
}

.EfectBorderRoundBlue {
  background-color: white !important;
}

.EfectBorderRoundWhite {
  background-color: #092239 !important;
}

@media screen and (max-width: 777px) {
  h1 {
    font-size: 23px;
  }
  h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 17px;
  }
  h4 {
    font-size: 14px;
  }
  p {
    font-size: 15px;
  }
  .EfectBorderRoundBlue,
  .EfectBorderRoundWhite {
    height: 100px;
  }
}
